<!-- <header class="navbar sticky-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Budget</a>
</header> -->

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div
        class="pt-3 sidebar-sticky d-flex flex-column justify-content-between h-100"
      >
        <!-- <ul class="nav flex-column">
          <li class="nav-item">
            <!-- <span data-feather="home" class="align-text-bottom"></span> -->
        <!-- <h3 class="ms-3 mb-6">Budget</h3>
          </li>
          <li class="nav-item ms-3 mt-6">
            <!-- <a class="nav-link mt-6" aria-current="page" href="#"> -->
        <!-- <i class="fa-solid fa-grid-2"></i>Dashboard -->
        <!-- </a> -->
        <!-- </li>
          <li class="nav-item">
            <div class="d-flex align-items-end">Catherine</div>
          </li>
        </ul> -->
        <div>
          <div><h3 class="ms-3 mb-5">Budget</h3></div>
          <div class="ms-3">
            <i class="fa-solid fa-table-columns me-2"></i>Dasboard
          </div>
        </div>
        <div>
          <div class="d-flex">
            <img
              style="width: 50px; height: 60px"
              src="../../assets/catherine.jpeg"
              class="rounded-circle bg-primary"
              alt="..."
            />
            <!-- <div class="border border-dark rounded-circle w-25 h-3">img</div> -->
            <div class="ms-3 mb-6">
              Catherine
              <p>+91 987654321</p>
            </div>
          </div>
          <div>
            <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
            Logout
          </div>
        </div>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div>
        <h4 class="h4 mt-4">Dashboard</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing eli</p>
        <div class="rounded-3 border px-2 py-2">
          <span class="mb-4">
            <i class="fa-solid fa-circle-info fa-lg"></i>You have
            <strong>32 Support Request Pending for Response</strong>
          </span>
        </div>
      </div>
      <div class="row gap-3 mt-4">
        <div class="col bg-primary rounded-3 p-3 text-white">
          <p>Total Users</p>
          <h3>1,567</h3>
          <div class="d-flex">
            <div class="rounded-pill border p-1 me-2 fs-6 bg-white text-black">
              2.36% <i class="fa-solid fa-arrow-up"></i>
            </div>
            Since last month
          </div>
        </div>
        <div class="col bg-success rounded-3 p-3 text-white">
          <p>Savings Account</p>
          <h3>1,500</h3>
          <div class="d-flex">
            <div class="rounded-pill border p-1 me-2 fs-6 bg-white text-black">
              2.36% <i class="fa-solid fa-arrow-up"></i>
            </div>
            Since last month
          </div>
        </div>
        <div class="col bg-primary rounded-3 p-3 text-white">
          <p>Savings Account</p>
          <h3>1,500</h3>
          <div class="d-flex">
            <div class="rounded-pill border p-1 me-2 fs-6 bg-white text-black">
              2.36% <i class="fa-solid fa-arrow-up"></i>
            </div>
            Since last month
          </div>
        </div>
        <div class="col bg-success rounded-3 p-3 text-white">
          <p>Savings Account</p>
          <h3>1,500</h3>
          <div class="d-flex">
            <div class="rounded-pill border p-1 me-2 fs-6 bg-white text-black">
              2.36% <i class="fa-solid fa-arrow-up"></i>
            </div>
            Since last month
          </div>
        </div>
      </div>

      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

      <h4 class="mt-4 mb-4">Recently Active Users</h4>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr class="bg-light">
              <th scope="col" class="text-secondary">USERID/NAME</th>
              <th scope="col" class="text-secondary">PHONE NUMBER</th>
              <th scope="col" class="text-secondary">TRANSACTION CATEGORY</th>
              <th scope="col" class="text-secondary">TRANSACTION AMOUNT</th>
              <th scope="col" class="text-secondary">ACCOUNT TYPE</th>
              <th scope="col" class="text-secondary">BALANCE AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="m-0"><strong>Monica James</strong></p>
                ID 123456789
              </td>
              <td>+91 9876543210</td>
              <td>
                <p class="m-0">Income</p>
                <p class="text-secondary">Salary</p>
              </td>
              <td><strong>$200</strong></td>
              <td>Savings</td>
              <td><strong>$6000</strong></td>
            </tr>
            <tr>
              <td>
                <p class="m-0"><strong>Samantha</strong></p>
                ID 123456789
              </td>
              <td>+91 9876543210</td>
              <td>
                <p class="m-0">Income</p>
                <p class="text-secondary">Salary</p>
              </td>
              <td><strong>$200</strong></td>
              <td>Savings</td>
              <td><strong>$6000</strong></td>
            </tr>

            <tr>
              <td>
                <p class="m-0"><strong>Catherine </strong></p>
                ID 123456789
              </td>
              <td>+91 9876543210</td>
              <td>
                <p class="m-0">Income</p>
                <p class="text-secondary">Salary</p>
              </td>
              <td><strong>$200</strong></td>
              <td>Savings</td>
              <td><strong>$6000</strong></td>
            </tr>
            <tr>
              <td>
                <p class="m-0"><strong>Monica James</strong></p>
                ID 123456789
              </td>
              <td>+91 9876543210</td>
              <td>
                <p class="m-0">Income</p>
                <p class="text-secondary">Salary</p>
              </td>
              <td><strong>$200</strong></td>
              <td>Savings</td>
              <td><strong>$6000</strong></td>
            </tr>
            <tr>
              <td>
                <p class="m-0"><strong> Ileana Sam</strong></p>
                ID 123456789
              </td>
              <td>+91 9876543210</td>
              <td>
                <p class="m-0">Income</p>
                <p class="text-secondary">Salary</p>
              </td>
              <td><strong>$200</strong></td>
              <td>Savings</td>
              <td><strong>$6000</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-dark rounded-pill p-2">
          View all
        </button>
      </div>
    </main>
  </div>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script
  src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
  integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
  integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
  crossorigin="anonymous"
></script>
<script src="dashboard.js"></script>
